:root {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.button {
    flex-direction: column;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    aspect-ratio: auto;
    width: 25%;
    height: 20%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 19px;
}
